$pureWhite : #fff;
$lime : #01FF70;
$brightGreen : #2ECC40;
$silver : #f9f9f9;
$yellow : #FFDC00;
$primaryButton : #39ab60;
%no_border_radius {
    border-radius: 0px;
}

%font-10 {
    font-size: 10px;
}